
<%= form_with model: @article, local: true do |form| %>
<!-- catch errors if this page is routed to from somewhere -->
    <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "step") %>
        away from publishing!
      </h2>
      <ol>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ol>
    </div>
  <% end %>
  <!-- end of error catching block -->
  <div class="form-group">
    <p>
      <%= form.label :title, 'Title:'%>
        <%= form.text_field :title, class: "form-control form-control-lg" , placeholder: "Title should be greater than 5 characters." %>
        </p>
          
    <p>
      <%= form.label :text, 'What should it say?' %>
      <%= form.text_area :text, class:"form-control", rows: "10", placeholder: "Go Bananas!" %>
    </p>
          
    <p>
      <%= form.submit class: "btn btn-outline-success" %>
    </p>
  </div>
<% end %>


