<style>
.jumbotron {
  background-color: #42f5bf;
  color: #ffffff;
  font-size=7;
}
h1{
  font-size:5em;  
}
.content{
  margin: auto;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.drop-cap:first-letter {
    font-size: 3em;
    float: top;
    
}
</style>

<div class="jumbotron text-center">
  <h1> <%= @article.title %> </h1>
  <%= link_to 'Edit this post', edit_article_path(@article), class: "btn btn-warning" %>
</div>

<p class="content drop-cap">
  <%= @article.text %>
</p>


<br>
<div class="content">
  <h2>Post comments:</h2>
  <%= render @article.comments %>
</div>
<br>
<div class="content">
<h2>Add a comment.</h2>
<%= render 'comments/form' %>
</div>